
<a href="/bookmarks">View bookmarks</a>
<form action="/add" method="post">
    <input type="text" name="new_url" placeholder="Enter database url here">
    <input type="submit" value="Add to database">
  </form>
