<form action="/update_bookmark_complete" method="post">
  <input type="hidden" name="bmk_id" value=<%= @bookmark %>>
  <input type="text" name="bmk_name" placeholder="Enter bookmark name here">
  <input type="text" name="bmk_url" placeholder="Enter bookmark url here">
  <input type="submit" value="Update">
</form>